@CHARSET "ISO-8859-1";

.calc{
	margin: auto;
    width: 40%;
    padding: 5px;
    text-align: center;
    border-style: solid;
    background: grey;
}

.divErr{
	margin: auto;
	font-weight: bold;
	font-size: 45px;
	text-align: center;
	padding: 1px;
	color: red;
}

.rButton{
	padding: 1px;
}

.button{
	border-radius: 5px;
	width: 100px;
	color: white;
	background: #1a1a1a;
	text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

.button:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}
.header{
	text-shadow: 3px 5px 12px rgba(28,110,164,0.86);
}